* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    /* background: url("composting1.jpg"); */
    /* background-repeat: no-repeat; */
}    

header, main, section {
    text-align: center;
    /* margin-right: auto; */
    /* margin-left: auto; */
}
.logo {
    height: 150px;
    width: 150px;
}

header ul li {
    padding: 18px;
    margin: auto 37px auto -2px;
    text-transform: uppercase;
    
    display: inline;
    list-style: none;
}

form label {
    display: block;
}

fieldset {
    border: none;
}