* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 70px;
}

.navbar {
    background-color: lightblue;
    position: fixed;
    border-bottom: 2px solid blue;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

.gl-logo {
    display: inline-block;
}

.r-nav a:nth-child(2) {
    margin-left: 8px;
}

.r-nav a:hover {
    color: black;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.r-nav {
    position: absolute;
    right: 10px;
    top: 30px;
}


.s-section {
    margin-top: 100px;
}


.pages {
    display: inline-block;
    font-size: 0;
    border: 1px solid blueviolet;
    border-radius: 3%;
    margin-top: 40px;
}

.pagenav {
    font-size: 14px;
    display: inline-block;
    padding: 10px 15px;
    
}

.pagedis {
    font-size: 15px;
    padding: 8px 25px;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
}

.listing {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.adlist {
    margin: 20px 0;
}

.li-date, .li-location {
    font-size: 15px;
    color: darkcyan
}

.li-title {
    color: blue;
    font-size: 20px;
}

.li-title:hover {
    text-decoration: underline;
}

.li-date {
    margin-right: 8px;
}

.li-location {
    margin-left: 8px;
}